/*默认字体颜色*/
*{
    color: #000000;
}

QMainWindow{
    background:#50585a;
}

/*顶部*/
QLabel#lb1{
    color:#ffffff;/*文字颜色*/
    background:#383e41;
    font: 20pt "新宋体";/*字体大小*/
}

QToolButton#tbCreat,#tbAbout,#tbMini,#tbClose,#tbDisplayNow,#tbDisplayAll,#tbChange,#tbCopy{
    border-style:none;
    background:#383e41;
}

/*左边*/
QWidget#wdLeft{
    background:#38535c;
    border-style:none;
}

QWidget#wdLeft QAbstractButton{
    border-style:none;
    background:#383e41;
    color:#ffffff;/*文字颜色*/
    font: 16pt "新宋体";/*字体大小*/
}
    
QWidget#wdLeft QAbstractButton:checked{
    border-style:solid;
    border-width:0px 5px 0px 0px;/*线框大小*/
    border-color:#dddddd;/*线框颜色*/
    background:#2a755c;
}

/*主体*/
QScrollArea#saWeld{
    border-style:none;
    background:#dddddd;
}

QWidget#wdsa{
    background:#dddddd;
}

/*QWidget[type="title_small"]{
    background:#525991;
    color:#ffffff;
    font: 16pt "新宋体";
}*/

QWidget[type="title_big"]{
    background:#525991;
    color:#ffffff;/*文字颜色*/
    font: 16pt "新宋体";/*字体大小*/
}

/*右边*/
QWidget#wdScript{
    background:#383e41;
}

QWidget#wdScript QLabel{
    color:#ffffff;/*文字颜色*/
    background:#383e41;
    font: 14pt "新宋体";/*字体大小*/
}

QTextEdit#teScript{
    background:#dddddd;
    border-style:none;
}

/*底部*/
QWidget#wdTool{
    background:#383e41;
}

QWidget#wdTool QAbstractButton{
    color:#ffffff;/*文字颜色*/
    background:#383e41;
    border-style:none;
}

QWidget#wdTool QAbstractButton{
    border-style:none;
    background:#383e41;
    color:#ffffff;/*文字颜色*/
    font-size:20px;/*字体大小*/
    }
    
QWidget#wdTool QAbstractButton:checked{
    border-style:none;
    background:#2a755c;
}
